*.log
*.pyc

.DS_Store
.php_cs
.php_cs.cache
.phpunit.cache
.phpunit.result.cache
.sass-cache
.svn

composer.lock
composer.phar
coverage.xml
Thumbs.db

/.idea
/.vscode
/private
/tests/coverage
/tests/fixtures
/vendor
